<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @for (product of products; track $index) {
            <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
               {{product.name}}
            </th>
            <td class="px-6 py-4">
                {{product.price}}
            </td>
            <td class="px-6 py-4">
                {{product.category}}
            </td>
            <td class="px-6 py-4">
                {{product.quantity}}
            </td>
            <td class="flex gap-2 px-6 py-4">
                <div  class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer" (click)="editProduct(product)">Edit</div>
                <div  class="font-medium text-red-500 dark:text-blue-500 hover:underline cursor-pointer" (click)="deleteProduct(product._id)">Delete</div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>